<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <main id="main">
    
    <header id="header__photo">
        <img src="/img/freddie_mercury.jpg" alt="Freedie Mercury Photo">
    </header>
    
    <header id="title">
        <h1 class="heading-1">Freddie Mercury</h1>
        <h4 class="heading-4 mb-lg">-  When I'm dead, I want to be remembered as a musician of some worth and substance.</h4>
    	<div class="other__members">
			<h3 class="heading-3">Other Members</h3>
			
			<div class="other__member">
				<img src="/img/brian_may.jpg" alt="Brian May Photo">
				<h4 class="heading-4">Brian May</h4>
			</div>

			<div class="other__member">
				<img src="/img/roger_taylor.jpg" alt="Roger Taylor Photo">
				<h4 class="heading-4">Roger Taylor</h4>
			</div>

			<div class="other__member">
				<img src="/img/john_deacon.jpg" alt="John Deacon Photo">
				<h4 class="heading-4">John Deacon</h4>
			</div>
			
		</div>
      
    </header>
    
    <section class="details">
      <p class="details__info">Freddie Mercury was a British singer-songwriter, record producer and lead vocalist of the rock band Queen. He is regarded as one of the greatest singers in the history of popular music, and was known for his flamboyant stage persona and four-octave vocal range. Mercury was born in Zanzibar to Parsi parents from India.</p>
    </section>
    
    <section class="awards">
		<h2 class="heading-2 awards__title mb-lg">Awards</h2>
		<h3 class="heading-3 awards__heading--1">Brit Awards</h3>
      	<ul class="awards__list">
			<li><strong>1977</strong> - British Single of the Year (Bohemian Rhapsody)</li>
			<li><strong>1990</strong> - Outstanding Contribution To Music (Queen)</li>	
			<li><strong>1992</strong> - British Single of the Year (These Are The Days Of Our Life)</li>	
			<li><strong>1992</strong> - Outstanding Contribution To Music (Freddie Mercury)</li>	
		</ul>

		<h3 class="heading-3 awards__heading--2">Ivor Novallo Awards</h3>
		<ul class="awards__list">
			<li><strong>1976</strong> - Best Selling British Record (Bohemian Rhapsody)</li>
			<li><strong>1987</strong> - Outstanding Contribution to British Music (Queen)</li>
			<li><strong>1992</strong> - Best Selling A-Side (These Are the Days of Our Lives)</li>
			<li><strong>2005</strong> - Outstanding Song Collection (Queen)</li>
		</ul>
    </section>
    
    <section class="tributes">
		<h2 class="heading-2 tribute__heading">Tributes Given To Freddie Mercury</h2>
		<div class="tribute__content">
			<img src="/img/statue_of_montreux.jpg" alt="Statue of Montreux">
			<h3 class="heading-3">Statue in Montreux, Switzerland</h3>
			<p class="tribute__1-details">
				A statue in Montreux, Switzerland, by sculptor Irena Sedlecká, was erected as a tribute to Mercury. It stands almost 10 feet (3 metres) high overlooking Lake Geneva and was unveiled on 25 November 1996 by Mercury's father and Montserrat Caballé, with bandmates Brian May and Roger Taylor also in attendance. Beginning in 2003 fans from around the world have gathered in Switzerland annually to pay tribute to the singer as part of the "Freddie Mercury Montreux Memorial Day" on the first weekend of September. The Bearpark And Esh Colliery Band played at the Freddie Mercury statue on 1 June 2010.
			</p>
		</div>

		<div class="tribute__content">
			<img src="/img/dominican_theatre.jpg" alt="Dominican Theatre Statue of Mercury">
			<h3 class="heading-3">Statue of Mercury stood over the entrance to the Dominion Theatre in London's West End</h3>
			<p class="tribute__2-details">
				A statue of Mercury stood over the entrance to the Dominion Theatre in London's West End from May 2002 to May 2014 for Queen and Ben Elton's musical We Will Rock You. A tribute to Queen was on display at the Fremont Street Experience in downtown Las Vegas throughout 2009 on its video canopy. In December 2009 a large model of Mercury wearing tartan was put on display in Edinburgh as publicity for the run of We Will Rock You at the Playhouse Theatre.
			</p>
		</div>

		<div class="tribute__content">
			<img src="/img/google_doodle_mercury.png" alt="Google Doodle Mercury">
			<h3 class="heading-3">Google dedicated their Google Doodle to him</h3>
			<p class="tribute__3-details">
				For Mercury's 65th birthday in 2011, Google dedicated their Google Doodle to him. It included an animation set to the Mercury penned song, "Don't Stop Me Now". Referring to "the late, great Freddie Mercury" in their 2012 Rock and Roll Hall of Fame induction speech, Guns N' Roses quoted Mercury's lyrics from his song "We Are the Champions"; "I've taken my bows, my curtain calls, you've brought me fame and fortune and everything that goes with it, and I thank you all.
			</p>
		</div>

		<div class="tribute__content">
			<img src="/img/olympics_mercury.jpg" alt="London 2012 Olympics Mercury">
			<h3 class="heading-3">Closing ceremony of the 2012 Summer Olympics in London</h3>
			<p class="tribute__4-details">
				Tribute was paid to Queen and Mercury at the closing ceremony of the 2012 Summer Olympics in London. The band's performance of "We Will Rock You" with Jessie J was opened with a video of Mercury's "call and response" routine from 1986's Wembley Stadium performance, with the 2012 crowd at the Olympic Stadium responding appropriately.
			</p>
		</div>
	</section>
	
	<section class="moreinfo">
		<h2 class="heading-2 moreinfo__heading">Read More</h2>
		<a class="link moreinfo__link--1" href="https://www.imdb.com/name/nm0006198/">IMDB Page</a>
		<a class="link moreinfo__link--2" href="https://en.wikipedia.org/wiki/Freddie_Mercury">Wikipedia</a>
	</section>
    
    <footer class="footer">
		<p>&#169; Copyright 2019 by Rituraj Dutta</p>
    </footer>
    
  </main>
</body>
</html>